<h1>Listing carts</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Total price</th>
      <th>Delivery date</th>
      <th>Products count</th>
      <th>Currency</th>
      <th>Treated</th>
      <th>Treated date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.message %></td>
        <td><%= cart.total_price %></td>
        <td><%= cart.delivery_date %></td>
        <td><%= cart.products_count %></td>
        <td><%= cart.currency %></td>
        <td><%= cart.treated %></td>
        <td><%= cart.treated_date %></td>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
