<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>

<p>
  <strong>Amazon url:</strong>
  <%= @product.amazon_url %>
</p>

<p>
  <strong>Product detail:</strong>
  <%= @product.product_detail %>
</p>

<p>
  <strong>Url from site:</strong>
  <%= @product.url_from_site %>
</p>

<p>
  <strong>Html content:</strong>
  <%= @product.html_content %>
</p>

<p>
  <strong>Html url:</strong>
  <%= @product.html_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
